.body {
	font-family: 'helveticaneue';
	margin: 0 auto;
}

.contentDiv {
	margin: 0 auto;
	max-width: 1000px;
	min-width: 750px;
}

.greyDiv {
	background-color: #F5F5F5;
}

.bannerHeading {
	color: rgb(52, 152, 219);
	font-size: 50px;
	font-weight: 100;
	text-align: left;
	margin: 10px;
	float: left;
}

.navBarList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: right;
	height: 100%;
}

.navBarItem {
	color: rgb(127, 140, 141);
	cursor: pointer;
	float: left;
	padding: 10px 15px;
}

.navDiv {
	float: right;
	height: 60px;
	padding-top: 20px;
}

.navButton {
	background-color: white;
	border: 0;
	color: rgb(127, 140, 141);
	cursor: pointer;
	float: left;
	font-size: 18px;
	padding: 10px 15px;
	text-decoration: none;
}

.sectionHeader {
	color: #888;
	font-size: 45px;
	font-weight: 100;
	margin: 10px 0px; 
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	margin: 0;
	height: 100%;
	width: 100%;
}

.inlineBlock {
	display: inline-block;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clearRight {
	clear: right;
}

.clearBoth {
	clear: both;
}

.thinText {
	font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.imgCircle {
	border-radius: 50%;
}

hr {
	background-color: #DEDEDE;
	border-width: 0;
	height: 1px;
}

input {
	border: 1px solid #CCC;
	border-radius: 4px;
}

textarea {
	border: 1px solid #CCC;
	border-radius: 4px;
}

legend {
	padding-bottom: 4px;
}
